.card{
  width: 540px;
  
}


.card__title{
  font-family: "Inter"; 
  font-style: normal; 
  font-weight: bold; 
  font-size: 20px; 
  line-height: 30px;
  margin-bottom: 32px;
}
.card__list{
  display: flex;
  flex-direction:column;
  font-family: "Noto Serif"; 
  font-style: normal; 
  font-weight: normal; 
  font-size: 16px; 
  line-height: 20px;
  gap: 16px;
  

}
.card__list-item{
  display: flex;
  align-items: flex-end;
}
.card__list-divider {
  height: 1px;
  flex: 1;
  background-color: #000;
}